<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Jsonfile" value="C:\Users\jerin\Documents\rckr\Firstproject\staff.json"/>
		<add key="Xmlfile" value="C:\Users\jerin\Documents\rckr\Firstproject\staff.xml"/>
		<add key="tempfile" value="temp.json"/>
	</appSettings>
</configuration>