<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Jsonfile" value="C:\Users\jerin\Documents\rckr\Firstproject\staff.json"/>
		<add key="XmlStaffOperations" value="C:\Users\jerin\Documents\rckr\Firstproject\staff.xml"/>
		<add key="JsonStaffOperations" value="Staffs.JsonStaffOperations,Console"/>
		<add key="StaffDB" value="Staffs.XmlStaffOperations,Console"/>
		<add key="databaseobject" value="Staffs.StaffDB,StaffDatabase"/>
		<add key="connectionstring" value="Data Source = LAPTOP-TFS7IR78\SQLEXPRESS; Initial Catalog = staffsdata; Integrated Security=SSPI"/>
	</appSettings>
</configuration>